#carouselExampleIndicators{
    max-height: 1220px;
    overflow: hidden;
    margin-top: 110px;
}
@font-face {
    font-family: HanZi;
    src: url(fonts/HanZi.ttf);
}

* {
    font-family: HanZi;
    
}
.header{
    width: 100%;
    color: white;
    padding: 20px;
    background: rgb(43, 45, 47);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.container{
    max-width: 2000px;
    padding: 0 15px;
    margin-left: 0px;
    
    display: flex;
    justify-content: space-between;

}
.header-logo{
    display: flex;
    flex-direction: row;
}
.logo-title{
    padding-top: 10px;

}
.logo-img{
    width: 70px;
    height: 70px;
}
.basket-img{
    width: 60px;
    height: 60px;
}

.footer{
    background:  rgb(43, 45, 47); 
    color: white;
    padding: 20px;
}




